body {
    margin: 0;
    background-color: rgb(155, 166, 213);
}

nav {
    background-color: aliceblue;
    padding: 25px;
}

nav ul {
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px 0 20px;
    font-size: 20px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li:hover {
   cursor: pointer;
   text-decoration: underline;
}

#title {
    text-align: center;
    padding: 200px 0 200px 0;
    color: white;
}

.quote {
    margin: 100px 0 0 0;
    font-size: 20px;
}

footer {
    background-color: aliceblue;
    width: 100%;
    position: fixed;    
    bottom: 0;
}

footer ul li {
   text-decoration: none;
   display: block; 
}

#aboutMe {
    text-align: center;
}

#aboutMe h1 {
    color: white;
    margin: 50px 0 50px 25px;
}

.img {
    margin: 0 auto;
}

#aboutMe img {
   height: 250px;
   width: 200px;
   box-shadow: 10px 10px 5px rgb(62, 62, 62);
}