* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(155, 166, 213);
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    color: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#title {
    text-align: center;
    padding: 200px 0 200px 0;
    color: white;
}

.quote {
    margin: 100px 0 0 0;
    font-size: 20px;
}

footer {
    background-color: aliceblue;
    width: 100%;
    margin-top:auto;
}

footer ul li {
   text-decoration: none;
   display: block; 
}

#aboutMe {
    text-align: center;
}

#aboutMe h1 {
    color: white;
    margin: 50px 0 50px 25px;
}

.img {
    margin: 0 auto;
}

#aboutMe img {
   height: 250px;
   width: 200px;
   box-shadow: 10px 10px 5px rgb(62, 62, 62);
}

.title {
    color: white;
    text-align: center;
    margin: 2rem 0 5rem 0;
}

#portfolioContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 8% 0 0 0;
    width: 100%;
    margin-bottom: 5em;
}

#portfolioContent h1, .item h3 {
    color: white;
    text-align: center;
} 

.item {
    background-color: rgb(106, 119, 177);
    box-shadow: 10px 10px 5px rgb(62, 62, 62);
    border-radius: 50px;
    width: 20em;
    height: 300px;
    margin-top: 3em;
    flex-shrink: 1;
}

.item:hover {
    background-color: rgb(114, 127, 188);
    cursor: pointer;
}

.item .img {
    display: flex;
    justify-content: center;
}

.item img{
    height: 100px;
    width: 150px;
    text-align: center;
    border: 1px black solid;
}

.description p {
    color: white;
    text-align: center;
    margin: 45px 0 0 0;
}

.contactForm {
    background-color: aliceblue;
    height: 20rem;
    width: 40rem;
    margin: 0 auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.input {
    margin: 25px;
}

.email {
    margin-left: 3.2rem;
}
textarea{
  resize: none;
  margin-left: 2rem
}
textarea.vertical {
    resize: vertical;
    max-width: 130px;
    min-width: 80px;
  }
  
  textarea.horizontal {
    resize: horizontal;
    max-width: 130px;
    min-width: 80px;
  }
  
  
  .submit {
    width: 100%;
    text-align: center;
  }

@media (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

